@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  color: #373c39;
}

.animate-fade-left-150 {
  animation-name: fade-left-150;
}

.animate-fade-right-150 {
  animation-name: fade-right-150;
}

.animate-fade-up-100 {
  animation-name: fade-up-100; 
}

@keyframes fade-left-150 {
  0% {
    opacity: 0;
    transform: translateX(150px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-right-150 {
  0% {
    opacity: 0;
    transform: translateX(-150px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-up-100 {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ref: https://codepen.io/abhikb/pen/yLgMvGw */
.infinite-scroll-images-1 {
  animation: infinite-scroll-images-1 30s linear infinite;
}
.infinite-scroll-images-2 {
  animation: infinite-scroll-images-2 31s linear infinite;
}

@keyframes infinite-scroll-images-1 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-230px * 8));
  }
}

@keyframes infinite-scroll-images-2 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-230px * 9));
  }
}
